.carousel {
    padding: 81px 0;
    position: relative;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        &__img {
            display: block;
            width: 100%;
            height: auto;
        }

    }

    .slick-prev,
    .slick-next {
        background-color: white;
        border: none;
    }

    .slick-prev img,
    .slick-next img {
        width: 31px;
        height: 51px;
    }


    .slick-next {
        margin-left: 66px;
    }

    .slick-prev {
        margin-right: 66px;
    }

}